<app-button
    [label]="
        filter().label +
        (selectedOption !== undefined ? ': ' + selectedOption.label : '')
    "
    (click)="toggleConent()"
></app-button>
<div
    class="filter-content"
    [class.visible]="!firstToggle && showingContent"
    [class.hidden]="!firstToggle && !showingContent"
>
    <div class="search">
        <input
            type="text"
            placeholder="Search"
            id="searchbar"
            (input)="input($event)"
        />
        <!-- Should be an icon button -->
        <button [innerText]="'Clear'" type="button" (click)="reset()"></button>
    </div>
    <div class="filter-options-section">
        @for (option of filter().options; track $index) {
            <div
                class="filter-option"
                [innerText]="option.label"
                (click)="apply(option)"
            ></div>
        }
    </div>
</div>
