<div class="select-input">
    @if (label()) {
        <label [innerText]="label()"></label>
    }
    <button type="button" (click)="toggleContent()">
        @if (selectedOption !== undefined) {
            <span [innerText]="selectedOption.label"></span>
        } @else if (placeholder() !== undefined) {
            <span [innerText]="placeholder()"></span>
        } @else {
            <span [innerText]="'no placeholder'"></span>
        }
        <span [innerText]="'i'"></span>
    </button>
</div>
<div
    class="filter-content"
    [ngClass]="{ visible: showingContent, hidden: !showingContent }"
>
    @if (options().length > 5) {
        <div class="search">
            <input type="text" placeholder="Search" id="searchbar" />
            <!-- (input)="changeInput($event)" -->

            <button [innerText]="'Clear'" type="button"></button>
        </div>
    }
    <div class="filter-options-section">
        @for (option of options(); track $index) {
            <div
                class="filter-option"
                [innerText]="option.label"
                (click)="optionSelectedHandler(option)"
            ></div>
        }
    </div>
</div>
