:host {
    .select-input {
        display: flex;
        flex-direction: column;

        label {
            font-weight: bold;
            margin-bottom: 0.25rem;
        }

        button {
            border-radius: 0.5rem;
            // border: 1px solid var(--black-90);
            border: none;
            padding: 0.5rem 1rem;
            outline: none;
            cursor: pointer;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            background-color: var(--white-100);
            justify-content: space-between;
        }

        button:hover {
            background-color: var(--black-10);
        }
    }

    .filter-content {
        margin-top: 0.25rem;
        border-radius: 0.75rem;
        position: absolute;
        background-color: var(--test, #f6f6f6);
        border: 1px solid var(--black-10);
        z-index: 1;
        opacity: 0;
        overflow: hidden;
        animation-duration: 0.25s;
        animation-fill-mode: both;
        min-width: 15rem;
        padding: 0.25rem 0;

        // Could be better
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);

        .search {
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            border-bottom: 1px solid var(--black-10);

            #searchbar {
                flex: 1 0 0;
                border-top-left-radius: 0.75rem;
                padding: 0.5rem 1rem;
                border: none;
                outline: none;

                // Does not work yet (search icon)
                // background-image: url("../../../../assets/public/search.svg");
                // background-position: 14px 12px;
                // background-repeat: no-repeat;
            }

            button {
                border: none;
                cursor: pointer;
                border-top-right-radius: 0.75rem;
            }
        }

        .filter-options-section {
            overflow-y: auto;
            max-height: 15rem;

            .filter-option {
                color: var(--black-100);
                padding: 0.5rem 1rem;
            }

            .filter-option:hover {
                color: var(
                    --black-100
                ); // Should be a tiny bit more black than default
                background-color: var(--black-20);
                cursor: pointer;
            }
        }
    }

    .filter-content.visible {
        animation-name: fadeIn;
    }

    .filter-content.hidden {
        animation-name: fadeOut;
    }
}
