<app-filter-manager
    class="filter-manager"
    [filters]="filters"
    [componentMap]="componentMap"
></app-filter-manager>

@if (activeFilters().length > 0) {
    <section>
        <h2>Active filters:</h2>
        <div class="active-filters-display">
            @for (activeFilter of activeFilters(); track $index) {
                <div class="filter">
                    <span class="label" [innerText]="activeFilter.label"></span>
                    <div class="conditions">
                        @for (
                            condition of activeFilter.conditions;
                            track $index
                        ) {
                            <div class="condition-detail">
                                <span>Column:</span>
                                <span [innerText]="condition.column"></span>
                            </div>
                            <div class="condition-detail">
                                <span>Operation:</span>
                                <span [innerText]="condition.operation"></span>
                            </div>
                            <div class="condition-detail">
                                <span>Value:</span>
                                <span [innerText]="condition.value"></span>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </section>
}
@if (urlResult()) {
    <section class="url-section">
        <span [innerText]="urlResult()"></span>
    </section>
}

<div class="filter-controls">
    <app-button label="Add filter" (click)="addFilter()"></app-button>
    <app-button
        label="Remove first filter"
        (click)="removeFilter()"
    ></app-button>
    <app-button label="Reset filters" (click)="resetFilters()"></app-button>
</div>
